@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/franklin-gothic");

$randStarty1: random(500);
$randStarty2: random(500);
$randStarty3: random(500);
$randStarty4: random(500);

$randStartx1: random(500);
$randStartx2: random(500);
$randStartx3: random(500);
$randStartx4: random(500);

$randRot1: random(45);
$randRot2: random(45);
$randRot3: random(45);
$randRot4: random(45);

@keyframes blob1 {
  0% {
    transform: translate($randStarty2 + px, $randStartx1 + px)
      rotate(-$randRot1 + deg);
  }
  33% {
    transform: translate($randStartx2 + px, $randStarty3 + px)
      rotate(-$randRot2 + deg);
  }
  66% {
    transform: translate($randStarty4 + px, $randStartx2 + px)
      rotate($randRot4 + deg);
  }
  100% {
    transform: translate($randStarty2 + px, $randStartx1 + px)
      rotate(-$randRot1 + deg);
  }
}

@keyframes blob2 {
  0% {
    transform: translate($randStarty1 + px, $randStartx2 + px)
      rotate($randRot2 + deg);
  }
  33% {
    transform: translate($randStartx2 + px, $randStartx4 + px)
      rotate($randRot4 + deg);
  }
  66% {
    transform: translate($randStartx3 + px, $randStartx2 + px)
      rotate(-$randRot1 + deg);
  }
  100% {
    transform: translate($randStarty1 + px, $randStartx2 + px)
      rotate($randRot2 + deg);
  }
}

@keyframes blob3 {
  0% {
    transform: translate($randStarty4 + px, $randStartx3 + px)
      rotate(-$randRot2 + deg);
  }
  33% {
    transform: translate($randStartx2 + px, $randStartx4 + px)
      rotate($randRot4 + deg);
  }
  66% {
    transform: translate($randStartx3 + px, $randStartx2 + px)
      rotate(90-$randRot1 + deg);
  }
  100% {
    transform: translate($randStarty4 + px, $randStartx3 + px)
      rotate($randRot2 + deg);
  }
}
@keyframes blob1 {
  0% {
    transform: translate($randStarty2 + px, $randStartx1 + px)
      rotate(-$randRot1 + deg);
  }
  33% {
    transform: translate($randStartx2 + px, $randStarty3 + px)
      rotate(-$randRot2 + deg);
  }
  66% {
    transform: translate($randStarty4 + px, $randStartx2 + px)
      rotate($randRot4 + deg);
  }
  100% {
    transform: translate($randStarty2 + px, $randStartx1 + px)
      rotate(-$randRot1 + deg);
  }
}

@keyframes blob2 {
  0% {
    transform: translate($randStarty1 + px, $randStartx2 + px)
      rotate($randRot2 + deg);
  }
  33% {
    transform: translate($randStartx2 + px, $randStartx4 + px)
      rotate($randRot4 + deg);
  }
  66% {
    transform: translate($randStartx3 + px, $randStartx2 + px)
      rotate(-$randRot1 + deg);
  }
  100% {
    transform: translate($randStarty1 + px, $randStartx2 + px)
      rotate($randRot2 + deg);
  }
}

@keyframes blob3 {
  0% {
    transform: translate($randStarty4 + px, $randStartx3 + px)
      rotate(-$randRot2 + deg);
  }
  33% {
    transform: translate($randStartx2 + px, $randStartx4 + px)
      rotate($randRot4 + deg);
  }
  66% {
    transform: translate($randStartx3 + px, $randStartx2 + px)
      rotate(90-$randRot1 + deg);
  }
  100% {
    transform: translate($randStarty4 + px, $randStartx3 + px)
      rotate($randRot2 + deg);
  }
}

@keyframes blob4 {
  0% {
    transform: translate($randStarty1 + px, $randStartx2 + px)
      rotate(-$randRot2 + deg);
  }
  33% {
    transform: translate($randStartx2 + px, $randStartx4 + px)
      rotate($randRot4 + deg);
  }
  66% {
    transform: translate($randStartx3 + px, $randStartx2 + px)
      rotate(-$randRot1 + deg);
  }
  100% {
    transform: translate($randStarty1 + px, $randStartx2 + px)
      rotate($randRot2 + deg);
  }
}

.shape1 {
  animation: blob1 8s ease-in-out infinite;
}

.shape2 {
  animation: blob2 8s ease-in-out infinite;
}
.shape3 {
  animation: blob1 8s ease-in-out infinite;
}
.shape4 {
  animation: blob2 8s ease-in-out infinite;
}

.logoFont {
  font-family: "Franklin Gothic", sans-serif;
  font-weight: 300;
}

.box-left {
  position: relative;
  margin-top: -2px;
  margin-bottom: -2px;
}
.box-left::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 600px;
  padding: 4px;
  background: linear-gradient(90deg, white 60%, transparent 40%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.box-right {
  position: relative;
  margin-top: -2px;
  margin-bottom: -2px;
}
.box-right::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 600px;
  padding: 4px;
  background: linear-gradient(-90deg, white 60%, transparent 40%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.box-right:first-child::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 600px;
  padding: 4px;
  background: linear-gradient(-90deg, black 60%, transparent 40%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
